<div class="container">

  <!-- Panel PB, RGO, CUSTO -->
  <div class="row justify-content-around">
    <!-- PB Card -->
    <div class="col-md-4 col-sm-12 ">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-4 card-icon">
                <i class="material-icons">
                  show_chart
                </i>
            </div>
            <div class="col-8 card-info">
                <div class="row">
                  <div class="col card-info-title">
                    PB
                  </div>
                </div>
                <div class="row">
                  <div class="col card-info-value">
                    R$MM 400
                  </div>
                </div>
            </div>
          </div>
          <hr>
          <div class="row ">
            <div class="col card-status">
                <i class="material-icons">
                  timer
                </i>
                <span>
                    Atualizado dia 5.10.2018
                </span>  
            </div>              
          </div>
        </div>
      </div>
    </div>
    <!-- Fim PB Card -->

    <!-- Custos RGO -->
    <div class="col-md-4 col-sm-12 ">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-4 card-icon">
                  <i class="material-icons">
                    local_atm
                  </i>
              </div>
              <div class="col-8 card-info">
                  <div class="row">
                    <div class="col card-info-title">
                      RGO
                    </div>
                  </div>
                  <div class="row">
                    <div class="col card-info-value">
                      R$MM 150
                    </div>
                  </div>
              </div>
            </div>
            <hr>
            <div class="row ">
              <div class="col card-status">
                  <i class="material-icons">
                    timer
                  </i>
                  <span>
                      Atualizado dia 5.10.2018
                  </span>  
              </div>              
            </div>
          </div>
        </div>
      </div>
      <!-- Fim Custos RGO -->

      <!-- Custos CARD -->
      <div class="col-md-4 col-sm-12 ">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-4 card-icon">
                    <i class="material-icons">
                        exposure
                    </i>
                </div>
                <div class="col-8 card-info">
                    <div class="row">
                      <div class="col card-info-title">
                        CUSTOS
                      </div>
                    </div>
                    <div class="row">
                      <div class="col card-info-value">
                        R$MM -250
                      </div>
                    </div>
                </div>
              </div>
              <hr>
              <div class="row ">
                <div class="col card-status">
                    <i class="material-icons">
                      timer
                    </i>
                    <span>
                        Atualizado dia 5.10.2018
                    </span>  
                </div>              
              </div>
            </div>
          </div>
        </div>
        <!-- Fim Custos CARD -->
  </div>
  <!-- Fim Panel PB, RGO, CUSTO -->

  <!-- Panel Real x Orçado -->
  <div class="row" style="margin-top: 20px">
    <div class="col">
      <div class="card">
        <div class="card-body">
            <div class="row">
              <div class="col">
                <div [chart]="chart"></div>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col card-status">
                  <i class="material-icons">
                    timer
                  </i>
                  <span>
                      Atualizado dia 5.10.2018
                  </span>  
                </div>     
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fim Panel Real x Orçado -->

  <div class="row justify-content-around" style="margin-top: 20px">
    <div class="col-md-6">
      <div class="card text-center bg-faded">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#tab1" data-toggle="tab">.nav-link <span class="badge badge-default">1</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab2" data-toggle="tab">.nav-link <span class="badge badge-default">2</span></a>
            </li>
          </ul>
        </div>
    
    
        <div class="card-body">
    
          <div class="tab-content">
            <div class="tab-pane active" id="tab1" role="tabpanel">
              <h4 class="card-title">.card-title <span class="badge badge-default">1</span></h4>
            </div>
            <div class="tab-pane" id="tab2" role="tabpanel">
              <h4 class="card-title">.card-title <span class="badge badge-default">2</span></h4>
            </div>
          </div>
    
        </div>

    </div>

    
  </div>
  <div class="col-md-6">
      <div class="card text-center bg-faded">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#tab11" data-toggle="tab">.nav-link <span class="badge badge-default">1</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab22" data-toggle="tab">.nav-link <span class="badge badge-default">2</span></a>
            </li>
          </ul>
        </div>
    
    
        <div class="card-body">
    
          <div class="tab-content">
            <div class="tab-pane active" id="tab11" role="tabpanel">
              <h4 class="card-title">.card-title <span class="badge badge-default">1</span></h4>
            </div>
            <div class="tab-pane" id="tab22" role="tabpanel">
              <h4 class="card-title">.card-title <span class="badge badge-default">2</span></h4>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
